#content .product .menu {
    width: 93.75%;
    margin-top: 10px;
    margin-left: 3.125%;
    margin-bottom: 0;
    overflow: hidden;
}

#content .product .menu li {
    list-style-type: none;
    background-color: #f75151;
    float: left;
    text-align: center;
    line-height: 24px;
    margin-left: 4.6875%;
    width: 21.3%;
}

#content .product .menu li {
    color: #ffffff;
    font-family: "Microsoft Yahei";
    font-size: 0.73em;
    font-weight: normal;
}

#content .product .menu li a {
    color: #ffffff;
    text-decoration: none;
}

#content .product .menu li:nth-child(1) {
    margin-left: 0;
}

#content .product .menu .current {
    color: #f75151;
    border: 1px solid #f75151;
    background-color: #ffffff;
}

#content .product .menu .current a {
    color: #f75151;
}

#content .product .pro_list {
    width: 93.75%;
    margin-top: 14px;
    margin-left: 3.125%;
    margin-bottom: 0;
    overflow: hidden;
    /*display: none;*/
}

#content .product .pro_list li {
    width: 45.3125%;
    list-style-type: none;
    float: left;
    margin-top: 14px;
}

#content .product .pro_list li:nth-child(2n) {
    margin-left: 8.8125%;
}

#content .product .pro_list li a {
    text-decoration: none;
    /*cursor: pointer;*/
}

#content .product .pro_list li img {
    /*使图片自动缩放到与其容器 100%匹配*/
    max-width: 100%;
}

#content .product .pro_list li p {
    color: #8a8a8a;
    font-family: "Microsoft Yahei";
    font-size: 0.9375em;
    margin-top: 12px;
    margin-bottom: 0;
    text-align: center;
}

#content .product .pro_list li p a {
    color: #8a8a8a;
}

#content .product button {
    font-family: "Microsoft Yahei";
    font-size: 1em;
    width: 39.0625%;
    /*height: 30px;*/
    border: none;
    text-align: center;
    line-height: 2em;
    /*margin-top: 15px;
    margin-left: 30.4688%;
    margin-bottom: 15px;
    */
    margin: 1.5em 30.4688% 1.5em;
}

#content .product button a {
    color: #ffffff;
    display: block;
    width: 100%;
    background-color: #f75151;
    text-decoration: none;
}